body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  flex-direction: column;
}
html, body, .box {
  cursor: none;
}
.startScreen{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 51;
  transition: all 2s;
}
.box {
  position: fixed;
  width: 10px;  /*HAS TO BE A DIGIT 10-99!!*/
  height: 10px;
  z-index: 50;
  pointer-events: none;
}
.box img{
  width: 30px;
  height: 40px;
}

.watermark {
  position: sticky;
  opacity: 0;
  text-align: center;
  justify-content: center;
  width: 220px;
  height: 35px;
  border-radius: 25px;
   background-color: rgba(255, 255, 255, 0.4);
   -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-size: cover;
  font-size: 20px;
  top: 30px;
  left: 30px;
}
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, sans-serif;
  font-size: 19px;
}
.about-me {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Verdana, sans-serif;
}
.about-me h1 {
  text-decoration: underline;
}
.abtMeBox {
  position: absolute;
  background: white;
  width: 200px;
  height: 500px;
  border: solid;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: 10px 10px 15px grey;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.abtMeBox h2{
  font-size: 23px;
  font-family: 'courier', monospace;
}
.abtMeBox:hover {
  box-shadow: 20px 20px 15px grey;
  transform: translate(-10px, -10px);
}
.abtMeBox:nth-child(2){
  margin-left: 700px;
}
.abtMeBox:nth-child(3){
  margin-left: -700px;
}

.personal {
  width: 100vh;
  height: 120vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Verdana, sans-serif;
}
.personal h1 {
  text-decoration: underline;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.game {
  position: absolute;
  width: 400px;
  height: 200px;
  box-shadow: 5px 5px 20px grey;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 25px;
  border-radius: 10px;
  transition: all 0.5s;
  color: #777;
  background: white;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.game:hover {
  color: white;
  background: #777;
}
.game h1 {
  text-decoration: none;
}
.game h2 {
  font-size: 15px;
}
.game:nth-child(2){
  margin-left: -1000px;
}
.game:nth-child(4){
  margin-left: 1000px;
}
.game:nth-child(5){
  margin-top: 450px;
  margin-left: -1000px;
}
.game:nth-child(6){
  margin-top: 450px;
}
.game:nth-child(7){
  margin-top: 450px;
  margin-left: 1000px;
}
.game:nth-child(8){
  margin-top: 750px;
  margin-left: -1000px;
}
.game:nth-child(9){
  margin-top: 750px;
}
.floodwaterGameplay{
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}
.floodwaterGameplay video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#favorite:hover ~ .floodwaterGameplay{
  opacity: 1;
}

.asd {
  width: 100vh;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Verdana, sans-serif;
}
.asd h1 {
  text-decoration: underline;
}
.project {
  position: absolute;
  width: 400px;
  height: 200px;
  box-shadow: 5px 5px 20px grey;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 25px;
  border-radius: 10px;
  color: #777;
  transition: all 0.5s;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.project:hover {
  color: white;
  background: #777;
}
.project h1 {
  text-decoration: none;
}
.project h2 {
  font-size: 15px;
}
.project:nth-child(2){
  margin-left: -1000px;
}
.project:nth-child(4){
  margin-left: 1000px;
}
.project:nth-child(5){
  margin-top: 450px;
  margin-left: -1000px;
}
.project:nth-child(6){
  margin-top: 450px;
}
.project:nth-child(7){
  margin-top: 450px;
  margin-left: 1000px;
}


.images {
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana;
  font-size: 20px;
}
.images h1 {
  text-decoration: underline;
}

.slideshow {
  margin-top: 50px;
  width: 1600px;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  /*overflow: scroll;*/
}
.slide {
  width: 600px;
  height: 400px;
  transition: all 0.5s;
}
.slide img{
  width: 100%;
  box-shadow: 0px 20px 50px #777;
  border-radius: 30px;
}
/*.left-btn {
  margin-left: -100px;
  width: 50px;
  background: black;
  font-family: impact;
  color: white;
  border: none;
  border-radius: 15px;
  transition: background 0.5s;
}
.left-btn:hover{
  background: white;
  color: black;
}
.right-btn:hover {
  background: white;
  color: black;
}
.right-btn {
  margin-left: 100px;
  margin-top: -17px;
  width: 50px;
  background: black;
  font-family: impact;
  color: white;
  border: none;
  border-radius: 15px;
  transition: background 0.5s;
}                                   ISSUES OCURRED AFTER PORTFOLIO OVERHAUL! THEREFORE IMAGES SLIDE HAS BEEN TONED DOWN! SORRY FOR THE INCONVENIENCE*/