body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    user-select: none;
}
.popup{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: #888;
    font-family: Verdana;
    box-shadow: 5px 5px 5px black;
    z-index: 5;
    transition: all 0.5s;
}
.popup input {
    position: relative;
    
    width: 50px;
    background: #888;
}
#fullContainer {
    width:100%;
    filter: blur(15px);
    
}
#buttonContainer {
    margin:auto;
    width: 40%;
}
#goButton {
    margin: 10px auto;
    width: 100%;
    border: 2px darkgray double;
    background: lightgray;
    font-size: 30px;
    transition: all, 0.5s;
    box-shadow: 0px 0px 5px black;
}
#goButton:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px black;
    cursor: pointer;
}
#goButton:active {
    background: grey;
}
#sortContainer {
    display: table;
    margin: 0 auto;
    width: 100%;
}
.subContainer {
    display: inline-block;
    width:45%;
    border: 4px forestgreen groove;
    margin-top: 1.25%;
}
#bubbleArea {
    margin-left: 2.5%;
}
#quickArea {
    margin-left: 3.75%;
}
.subContainer > h2 {
    margin-left: 5%;
    height: 32px;
    margin-top: 0;
}
.sortElement {
    background-position: center;
    background-repeat: repeat-x;
    position: absolute;
    left: 0px;
    margin: 0;
    padding: 0;
}
.subContainer > div {
    position: relative;
}
.bubbleElement {
    background: url('img/bubble.png');
    /*border: 2px aqua ridge;*/
}
.quickElement {
    background: url('img/quick.png');
    /*border: 2px firebrick ridge;*/
}
#bubbleCounter, #quickCounter{
    font-family: 'Courier New', Courier, monospace;
    color: #999;

}