body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
    user-select: none;
}
.intro {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 20;
}
.intro video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home {
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url("Images/background.gif") no-repeat center center/cover;
}
.home .tab {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid rgb(34, 34, 34);
    box-shadow: 10px 10px 10px black;
    z-index: -1;
    opacity: 0;
    width: 50vw;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: grey;
    font-family: "Tiny5", sans-serif;
    font-size: 2rem;
    transition: all 0.3s;
}
.home .tab button {
    width: 50%;
    margin-top: 30px;
    height: 10%;
    font-family: "Tiny5", sans-serif;
    font-size: 1rem;
    border-radius: 20px;
    transition: all 0.3s;
}
.home .tab button:hover {
    cursor: pointer;
    background: #222;
    color: #888;
}
.title {
    height: 35vh;
    font-size: 3rem;
    font-family: "Tiny5", sans-serif;
    text-align: center;
}
#button {
    width: 30%;
    height: 20%;
    margin: 10px auto;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button img {
    width: 100%;
}
#button:hover {
    cursor: pointer;
    transform: scale(120%);
}
.page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.9);
    color: white;
    width: 50vw;
    height: 50vh;
    border-radius: 20px;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace; /*Will later be new imported/downloaded fonts*/
    font-size: 1.5rem;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #00ccff, #1900ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: -1;
}
.shop {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.shop:hover {
    cursor: pointer;
    background: rgba(20, 20, 20, 0.2);
}
.shop img {
    width: 100%;
    height: 100%;
}
.shop h1 {
    margin: -5% auto;
}
.list {
    position: absolute;
    top: 200px;
    left: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.list:hover {
    cursor: pointer;
    background: rgba(20, 20, 20, 0.2);
}
.list img {
    width: 100%;
    height: 100%;
}
.list h1 {
    margin: -5% auto;
}
.profile {
    position: absolute;
    top: 350px;
    left: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.profile:hover {
    cursor: pointer;
    background: rgba(20, 20, 20, 0.2);
}
.profile img {
    width: 100%;
    height: 100%;
}
.profile h1 {
    margin: -5% auto;
}
.tab {
    width: 85vw;
    height: 85vh;
    z-index: -1;
    opacity: 0;
    background: white;
    display: flex;
    flex-direction: column;   /* <— key */
    overflow-y: auto;
}
.nav-bar {
    width: 100%;
    min-height: 60px;
    background: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
}
.nav-bar h1 {
    float: left;
    margin-left: 10px;
    font-size: 30px;
}
.exit-button {
    color: black;
    min-height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    transition: all 0.3s;
}
.exit-button:hover {
    cursor: pointer;
    background: red;
    color: white;
}
.contract {
    width: 30%;
    min-height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    background: #777;
    margin: 50px auto;
    padding: 10px;
    font-family: "Tiny5", sans-serif;
    transition: all 1s;
}
.contract:hover {
    cursor: pointer;
    background: #999;
}
.contract .biomeImg {
    height: 50px;
}
.contract:active {
    background: green;
}
.shopItem {
    width: 40%;
    min-height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    background: #777;
    margin: 50px auto;
    padding: 10px;
    font-family: "Tiny5", sans-serif;
    transition: all 1s;
}
.shopItem:hover {
    cursor: pointer;
    background: #999;
}
.shopItem:active {
    background: #222;
}
.shopItem .itemImg {
    height: 50px;
    margin-left: 40px;
}
.stats {
    font-family: "Rubik Burned", system-ui;
    font-size: 3rem;
    margin-left: 30px;
}
.cost {
    color: #222;
}



.transitionScreen{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    top: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: darkred;
    font-family: "Rubik Burned", system-ui;
}
.info {
    position: absolute;
    width: 150px;
    height: 50px;
    color: white;
    font-family: "Tiny5", sans-serif; /*Will later be new imported/downloaded fonts*/
    top: 45%;
    left: 47%;
    z-index: 6;
}
.flashlight{
    position: absolute;
    width: 2500px;
    height: 2500px;
    /*left: -13.5%;
    top: -64%;*/
    pointer-events: none;
    opacity: 0;
    z-index: 6;
}
.blizzard {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 6;
    opacity: 0;
    background: rgba(255, 255, 255, 0.7);
}
.blizzard img{
    width: 100%;
}
.rain {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 6;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7)
}
.rain img {
    width: 100%;
}
.explosion{
    position: absolute;
    width: 200px;
    height: 200px;
    pointer-events: none;
    opacity: 0;
    z-index: 8;
}
.canvas{  /*THESE WIDTH AND HEIGHT VALUES WILL BE FOR INSIDE THE GAME... IN THE MENU AND ALL ELSE, SEt IT TO A SMALLER VALUE BY px!!*/
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 4;
}
#canvas {
    background: #1b1a27;
}
.HUD {
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
}
.inventory{
    position: absolute;
    top: 87vh;
    left: 5vw;
    display: flex;
    gap: 10px;
    z-index: 8;
    pointer-events: auto;
}
.slot{
    width: 100px;
    height: 100px;
    opacity: 0.8;
    border: 2px solid black;
    background: grey;
    color: black;
    font-size: 1rem;
    font-family: "Tiny5", sans-serif;
    pointer-events: auto;
}
.slot h1 {
    z-index: 2;
    position: absolute;
    top: -30px;
}
.slot img{
    width: 100%;
    height: 100%;
}
.slot:hover {
    cursor: pointer;
}
.hearts{
    position: absolute;
    top: 4vh;
    left: 2vw;
    display: flex;
    gap: 10px;
    z-index: 7;
}
.heart{
    width: 50px;
    height: 50px;
}
.heart img{
    width: 100%;
    height: 100%;
}
.stamina{
    position: absolute;
    top: 11vh;
    left: 2vw;
    height: 10px;
    opacity: 0.9;
    background: lightblue;
}
.magic {
    position: absolute;
    top: 13vh;
    left: 2vw;
    height: 10px;
    opacity: 0.9;
    background: rgb(70, 0, 102);
}
.collected {
    animation: collected 3s linear;
    animation-fill-mode: forwards;
}
@keyframes collected {
    0% {transform: scale(20%);}
    30% {transform: scale(150%);}
    50% {opacity: 0.5;}
    60%{opacity: 1;}
    70%{opacity: 0.5;}
    80%{opacity: 1;}
    90%{opacity: 0.5;}
    100% {transform: scale(150%); opacity: 1;}
}
.fade-out-in {
    animation: fadeOutIn 3s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes fadeOutIn {
    0%{opacity: 1}
    30%{opacity: 0.4}
    100%{opacity: 0.4}
}
.collectedItem{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    z-index: 10;
    pointer-events: none;
}
.collectedItem img {
    display: none;
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.missions{
    position: absolute;
    padding: 20px;
    top: 15vh;
    left: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: white;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.4);
}
.slideUp{
    animation: slideup 3s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes slideup {
    0% {
        top: 100%;
    }
    50% {
        top: 0%;
    }
    100% {
        top: -100%;
    }
}
.slideIn {
    animation: slideIn 1.5s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes slideIn {
    0% {
        top: 100%;
    }
    100% {
        top: 0%;
    }
}
.flickerOnce {
    animation: flickerOnce 3s linear;
    animation-fill-mode: forwards;
}
@keyframes flickerOnce {
    /*0% {opacity: 1;}*/
    0% {opacity: 0.2;}
    100% {opacity: 1;}
}
.fade-in-out {
    animation: fade-in-out 3s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes fade-in-out {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
.fade-in {
    animation: fadeIn 3s ease-in;
    animation-fill-mode: forwards;
    opacity: 1;
}
.fade-in-quick {
    animation: fadeIn 1s ease-in;
    animation-fill-mode: forwards;
    opacity: 1;
}
.fade-out {
    animation: fadeOut 3s ease-in;
    animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.explosionAnim {
    animation: explosionAnim 1.5s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes explosionAnim {
    0% {
        transform: scale(0%);
        opacity: 1;
    }
    100% {
        transform: scale(1500%);
        opacity: 0;
    }
}
.light {
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}
.lightning {
    animation: lightning 0.4s linear;
    animation-fill-mode: forwards;
}
@keyframes lightning {
    0% {
        opacity: 0;
        z-index: -1;
    }
    20% {
        opacity: 1;
        z-index: 8;
    }
    40% {
        opacity: 0;
        z-index: -1;
    }
    60% {
        opacity: 0;
        z-index: -1;
    }
    80% {
        opacity: 1;
        z-index: 8;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}
.shake {
    animation: shake 0.5s linear infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* - - - - - - - - - - - - - - - - - FONTS - - - - - - - - - - - - */
/*@font-face {
    
}*/