body {
  background: black;
  user-select: none;
}

.canvas {
  width: 1000px;  /*CHANGE BACK TO 1000px!*/
  height: 600px;  /*CHANGE BACK TO 600px!*/
  overflow: hidden;
  position: absolute;
  left: 15%;
  opacity: 0.8;
  scroll-behavior: smooth;
  filter: blur(0px);
}
.information {
  position: absolute;
  left: 30%;
  top: 650px;
  border-radius: 25px;
  width: 500px;
  height: 75px;
  font-family: Doctor Glitch, sans-serif;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  z-index: 3;
  transition: all 0.5s;
}
.items {
  display: block;
  margin-left: 50px;
  margin-top: 50px;
  height: 300px;
  width: 200px;
  background: black;
  border-radius: 100px;
  font-family: Doctor Glitch, sans-serif;
  font-size: 2rem;
  opacity: 0;
  color: white;
}
.trapsCount{
  position: absolute;
  top: 125px;
  left: 75px;
}
.minesCount {
  position: absolute;
  top: 250px;
  left: 75px;
}
.menu {
  position: absolute;
  width: 1000px;
  height: 600px;
  left: 15%;
  z-index: 2;
  background: #4f4f4f;
}
.menu button{
  position: absolute;
  width: 300px;
  height: 100px;
  border-radius: 25px;
  font-size: 2.5rem;
  font-family: Doctor Glitch, sans-serif;
  left: 36%;
}
.easyBtn {
  margin-top: 200px;
  transition: all 0.5s;
}
.easyBtn:hover {
  background: green;
  color: white;
}
.hardBtn {
  margin-top: 330px;
  transition: all 0.5s;
}
.hardBtn:hover{
  background: darkred;
  color: white;
}
.impossibleBtn {
  margin-top: 460px;
  transition: all 0.5s;
}
.impossibleBtn:hover {
  background: black;
  color: darkred;
}
.transition {
  animation-name: transition;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes transition {
  75%{
    z-index: -1;
    opacity: 0;
  }
  100%{
    z-index: -1;
    opacity: 0;
    display: none;
  }
}
.shake {
  animation: shake 0.5s;
  animation-iteration-count: 27;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.menu h1{
  font-size: 3.5rem;
  font-family: Doctor Glitch, sans-serif;
  color: #5c0403;
  position: absolute;
  left: 20%;
  top: 7%;
}
.dark {
  opacity: 0.1;
}
.light {
  opacity: 0.8;
}
.stalkerImage {
  position: absolute;
  top: 15%;
  left: 75%;
  opacity: 0;
  z-index: 5;
  transition: all 0.5s;
}
.LOOKATMEImage {
  position: absolute;
  opacity: 0;
  z-index: 6;
  transition: all 0.5s;
}
.jester-obstacle {
  position: absolute;
  width: 60px;
  height: 60px;
  background: rgba(255, 0, 255, 0.4); /* Slightly purple for effect */
  backdrop-filter: blur(4px); /* Blur anything behind it */
  border-radius: 8px;
  cursor: pointer;
  z-index: 10;
}

.JesterBox {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 800px;
  height: 500px;
  background: grey;
  border-radius: 50px;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}
.JesterBox button{
  position: relative;
  top: 200px;
  left: 3%;
}
.JesterNum {
  position: relative;
  top: 50px;
  left: 40%;
  font-size: 3rem;
  font-family: impact;
  color: white;
}
.JesterInput {
  position: relative;
  top: 200px;
  left: 5%;
}
.Death {
  position: absolute;
  z-index: 0;
  opacity: 0;
  top: 45%;
  left: 45%;
}
.explosion {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -2;
}
.drousy {
  animation: drousy 10s;
  animation-fill-mode: forwards;
}
@keyframes drousy { 
    0% { transform: translate(3px, 3px) rotate(10deg); filter: blur(50px); }
    5% { transform: translate(-6px, -5px) rotate(-10deg);}
    10% { transform: translate(4px, 6px) rotate(-5deg); }
    15% { transform: translate(-4px, -6px) rotate(5deg);}
    20% { transform: translate(-9px, 0px) rotate(15deg); filter: blur(40px); }
    25% {  transform: translate(9px, 0px) rotate(-15deg);}
    30% { transform: translate(9px, 6px) rotate(-10deg); }
    35% { transform: translate(-9px, -6px) rotate(10deg); }
    40% { transform: translate(3px, -3px) rotate(-10deg); filter: blur(30px);}
    45% { transform: translate(-3px, 3px) rotate(-10deg);}
    50% { transform: translate(-3px, 6px) rotate(-16deg); }
    55% { transform: translate(-3px, 6px) rotate(-16deg);}
    60% { transform: translate(3px, -1px) rotate(-14deg); filter: blur(20px);}
    65% { transform: translate(-3px, 1px) rotate(14deg);}
    70% { transform: translate(9px, 3px) rotate(-15deg); }
    75% { transform: translate(-9px, -3px) rotate(15deg);}
    80% { transform: translate(-3px, -3px) rotate(-10deg); filter: blur(10px);}
    85% { transform: translate(3px, 3px) rotate(10deg);}
    90% { transform: translate(3px, 6px) rotate(-5deg); }
    95% { transform: translate(-3px, -6px) rotate(5deg);}
    100% { transform: translate(3px, -6px) rotate(0deg); filter: blur(0px);}
}
#staticVideo {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}