
body {
  background-color: #333;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
}
.spin{
  animation: spin 60s linear infinite;
}
@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

#score, #highScore {
  color: white;
  margin-left: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: red;
  z-index: 1;
}